PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/mabrig_research
JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=7d
PAYSTACK_SECRET=sk_live_your_paystack_secret_key
CLIENT_URL=https://mabrigresearch.online
